# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# macOS
.DS_Store

# Data
data/raw/
data/processed/

# Hugging Face cache
.cache/

# Processed datasets (optional)
data/processed/*.csv

# Raw datasets (optional)
data/raw/*

# Large model artifacts (downloaded automatically)
models/job_embeddings.npy
models/faiss_index.index